{{!-- title --}}
<h1>Welcome {{user.username}}</h1>
<p>Below you will find your post contributions as well as the ability manage your post or add post.</p>

{{!-- user post --}}
<h4>My Post:</h4>

    {{#if post.length}}
    {{#each post as  |post| }}
    {{> post-info post}}
    {{/each}}
    {{else}}
    <p>You have no post.</p>
    {{/if}}

    