
<section>
    <h2>Welcome to your profile page</h2>
    {{!-- button to create post using a href --}}
    <a href="/dashboard/create" class="btn btn-primary">Create Post</a>
    <h3 class="mt-4">Your Post:</h3>
{{!-- display post as cards --}}
{{#if post.length}}
{{#each post as |post| }}
{{> post-info post }}
{{/each}}
{{else}}
<h6>
    No posts yet.
</h6>
{{/if}}
</section>
